# Reglas de exclusión específicas para frontend
frontend/.phpunit.cache
frontend/node_modules/
frontend/public/build/
frontend/public/hot/
frontend/public/storage/
frontend/storage/*.key
frontend/vendor/
frontend/.env
frontend/.env.backup
frontend/.env.production
frontend/.phpunit.result.cache
frontend/Homestead.json
frontend/Homestead.yaml
frontend/auth.json
frontend/npm-debug.log
frontend/yarn-error.log
frontend/.fleet
frontend/.idea
frontend/.vscode

# Reglas de exclusión específicas para backend
backend/.phpunit.cache
backend/node_modules/
backend/public/build/
backend/public/hot/
backend/public/storage/
backend/storage/*.key
backend/vendor/
backend/.env
backend/.env.backup
backend/.env.production
backend/.phpunit.result.cache
backend/Homestead.json
backend/Homestead.yaml
backend/auth.json
backend/npm-debug.log
backend/yarn-error.log
backend/.fleet
backend/.idea
backend/.vscode

